.switch-text{
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 700px;          
    margin: auto;

}
.switch-text .small-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    width:  25px;
    height: 25px;
    border-radius: 4px; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
     
}

.switch-text .small-button:hover {
    
    background-color: #5FAD41; 
    border-color: #5FAD41;
    color: #1C1B1F;
}
.switch-text h3{
    color: #DEBD24;
}

@media (max-width: 600px) {
    .switch-text{
        max-width: 90%;
    }
    
    
}